In [1]:
for temp in range(20):
   print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for temp in range(10, 20):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19

In [4]:
List2= [10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of items in List2:")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in List2:
7

In [5]:
text = "Artificial Intelligence"
print(text)     
for char in text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
name = "Lokesh"
age = 25               
profession = "Working professional" 
print("-Your Name-")
print("-Your Age-")
print("-Profession-")

-Your Name-
-Your Age-
-Profession-

In [7]:
mixed_tuple = (1, "Welcome", 2, "Hope")
print(mixed_tuple)

(1, 'Welcome', 2, 'Hope')

In [8]:
Tuple1 = (0,1,2,3)
Tuple2 = ("Python", "HOPE")
nested_tuple = (Tuple1 , Tuple2)
print(nested_tuple)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [13]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)
for num in numbers:
    if num % 2 != 0:
        print(num, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [14]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)
for num in numbers:
    if num % 2 == 0:
        print(num, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even